<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <style>
        .table-header {
            background-color: #d68741; 
        }
        .form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        .form-cliente {
            text-align: left;
        }
        .form-title {
            text-align: left;
        }
        .form-novo-cliente {
            text-align: center;
            margin-top: 10px; 
        }
    </style>
</head>

<body style="background-color: #f3efdb;">
    {{ result }}    
    {% extends "base.html" %}

    {% block title %}Cliente{% endblock %}

    {% block content %}
    <div class="form-container">
        <form class="form-title" action="{{ url_for('cliente.formCliente') }}" method="POST">
            <h1 style="color: #d68741"><i class="bi bi-arrow-right-short"></i>Clientes</h1>
        </form>

        <form class="form-cliente" action="{{ url_for('cliente.formCliente') }}" method="POST">
            <button class="bi bi-person-plus" style="background-color: #b7e6bf; color: #499146; font-size: 18px; padding: 10px 20px; border: 3px solid #5aa358; border-radius: 5px; cursor: pointer;" class="form-novo-cliente" type="submit" name="formNovo">  Novo Cliente</button>
        </form>
    </div>

    <div class="container text-center">
        <div class="row align-items-center">
            <table>
                <thead class="table-header">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Compra Fiado</th>
                        <th scope="col">Dia Fiado</th>
                        <th scope="col">Senha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash"></i>
                        </td>
                    </tr>>  
                </tbody>
                <tbody>
                    {% if result %}
                    {% for row in result %}
                    <tr>
                        <th scope="row"> {{ row['id_cliente'] }}</th>
                        <td> {{ row['nome'] }}</td>
                        <td> {{ row['telefone'] }}</td>
                        <td> {{ row['compra fiado'] }}</td>
                        <td> {{ row['dia fiado'] }}</td>    
                        <td> {{ row['senha'] }}</td>
                        <td><i class="fas fa-edit"></i></td>
                        <td><i class="fas fa-trash"></i></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
</body>

</html>

